In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (0.2.20)
Requirement already satisfied: numpy>=1.16.5 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: appdirs>=1.4.4 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (36.0.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: html5lib>=1.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (1.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: pandas>=1.3.0 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (2.0.2)
Requirement already satisfied: pytz>=2022.5 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (2023.3)
Requirement already satisfied: lxml>=4.9.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: frozendict>=2.3.4 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: requests>=2.26 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from cryptography>=3.3.2->yfinance) (1.15.0)
Requirement already satisfied: pycparser in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: six>=1.9 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: idna<4,>=2.5 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2.0.4)

In [2]:
import yfinance as yf
import matplotlib.pyplot as plt

In [3]:
msft = yf.Ticker('MSFT') 
info_1y = msft.history(period = "1y")
info_1y['Date'] = info_1y.index
info_1y = info_1y.reset_index (drop = True)

In [4]:
info_1y.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
0,242.763410,246.635981,239.217682,239.940689,46135800,0.0,0.0,2022-06-13 00:00:00-04:00
1,241.525364,243.387371,239.197856,242.149338,28651500,0.0,0.0,2022-06-14 00:00:00-04:00
2,245.932764,252.855849,244.060858,249.349731,33111700,0.0,0.0,2022-06-15 00:00:00-04:00
3,243.625050,245.051267,240.693397,242.624725,33169200,0.0,0.0,2022-06-16 00:00:00-04:00
4,242.357313,248.101789,241.693730,245.279068,43084800,0.0,0.0,2022-06-17 00:00:00-04:00
5,247.864081,252.311101,247.121262,251.310776,29928300,0.0,0.0,2022-06-21 00:00:00-04:00
6,249.478485,254.707950,247.973033,250.706619,25939900,0.0,0.0,2022-06-22 00:00:00-04:00
7,253.123294,256.886902,251.201864,256.381775,25861400,0.0,0.0,2022-06-23 00:00:00-04:00
8,259.303490,265.414434,259.214356,265.137115,33923200,0.0,0.0,2022-06-24 00:00:00-04:00
9,265.642227,265.731361,260.759432,262.354034,24615100,0.0,0.0,2022-06-27 00:00:00-04:00

In [5]:
info_1y.shape

(251, 8)

In [6]:
info_1y.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
0,242.763410,246.635981,239.217682,239.940689,46135800,0.0,0.0,2022-06-13 00:00:00-04:00
1,241.525364,243.387371,239.197856,242.149338,28651500,0.0,0.0,2022-06-14 00:00:00-04:00
2,245.932764,252.855849,244.060858,249.349731,33111700,0.0,0.0,2022-06-15 00:00:00-04:00
3,243.625050,245.051267,240.693397,242.624725,33169200,0.0,0.0,2022-06-16 00:00:00-04:00
4,242.357313,248.101789,241.693730,245.279068,43084800,0.0,0.0,2022-06-17 00:00:00-04:00
5,247.864081,252.311101,247.121262,251.310776,29928300,0.0,0.0,2022-06-21 00:00:00-04:00
6,249.478485,254.707950,247.973033,250.706619,25939900,0.0,0.0,2022-06-22 00:00:00-04:00
7,253.123294,256.886902,251.201864,256.381775,25861400,0.0,0.0,2022-06-23 00:00:00-04:00
8,259.303490,265.414434,259.214356,265.137115,33923200,0.0,0.0,2022-06-24 00:00:00-04:00
9,265.642227,265.731361,260.759432,262.354034,24615100,0.0,0.0,2022-06-27 00:00:00-04:00

In [7]:
#Adding a column to calculate dif between Open and Close rates
info_1y['Dif_open_close'] = info_1y['Open'] - info_1y['Close']
info_1y.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,Dif_open_close
0,242.763410,246.635981,239.217682,239.940689,46135800,0.0,0.0,2022-06-13 00:00:00-04:00,2.822721
1,241.525364,243.387371,239.197856,242.149338,28651500,0.0,0.0,2022-06-14 00:00:00-04:00,-0.623973
2,245.932764,252.855849,244.060858,249.349731,33111700,0.0,0.0,2022-06-15 00:00:00-04:00,-3.416968
3,243.625050,245.051267,240.693397,242.624725,33169200,0.0,0.0,2022-06-16 00:00:00-04:00,1.000325
4,242.357313,248.101789,241.693730,245.279068,43084800,0.0,0.0,2022-06-17 00:00:00-04:00,-2.921755

In [8]:
#Adding a column to calculate variation in that date
info_1y['Variation'] = info_1y['High'] - info_1y['Low']
info_1y.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,Dif_open_close,Variation
0,242.763410,246.635981,239.217682,239.940689,46135800,0.0,0.0,2022-06-13 00:00:00-04:00,2.822721,7.418299
1,241.525364,243.387371,239.197856,242.149338,28651500,0.0,0.0,2022-06-14 00:00:00-04:00,-0.623973,4.189514
2,245.932764,252.855849,244.060858,249.349731,33111700,0.0,0.0,2022-06-15 00:00:00-04:00,-3.416968,8.794991
3,243.625050,245.051267,240.693397,242.624725,33169200,0.0,0.0,2022-06-16 00:00:00-04:00,1.000325,4.357870
4,242.357313,248.101789,241.693730,245.279068,43084800,0.0,0.0,2022-06-17 00:00:00-04:00,-2.921755,6.408059

In [9]:
#rename columns
info_1y.rename(columns={'Stock Splits': 'Stock_splits'})

,Open,High,Low,Close,Volume,Dividends,Stock_splits,Date,Dif_open_close,Variation
0,242.763410,246.635981,239.217682,239.940689,46135800,0.0,0.0,2022-06-13 00:00:00-04:00,2.822721,7.418299
1,241.525364,243.387371,239.197856,242.149338,28651500,0.0,0.0,2022-06-14 00:00:00-04:00,-0.623973,4.189514
2,245.932764,252.855849,244.060858,249.349731,33111700,0.0,0.0,2022-06-15 00:00:00-04:00,-3.416968,8.794991
3,243.625050,245.051267,240.693397,242.624725,33169200,0.0,0.0,2022-06-16 00:00:00-04:00,1.000325,4.357870
4,242.357313,248.101789,241.693730,245.279068,43084800,0.0,0.0,2022-06-17 00:00:00-04:00,-2.921755,6.408059
...,...,...,...,...,...,...,...,...,...,...
246,335.329987,335.369995,332.170013,333.679993,20396200,0.0,0.0,2023-06-06 00:00:00-04:00,1.649994,3.199982
247,331.649994,334.489990,322.500000,323.380005,40717100,0.0,0.0,2023-06-07 00:00:00-04:00,8.269989,11.989990
248,323.940002,326.640015,323.350006,325.260010,23277700,0.0,0.0,2023-06-08 00:00:00-04:00,-1.320007,3.290009
249,324.989990,329.989990,324.410004,326.790009,22514900,0.0,0.0,2023-06-09 00:00:00-04:00,-1.800018,5.579987
250,328.579987,332.100006,325.160004,331.850006,24260300,0.0,0.0,2023-06-12 00:00:00-04:00,-3.270020,6.940002

In [10]:
info_1y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Open            251 non-null    float64
 1   High            251 non-null    float64
 2   Low             251 non-null    float64
 3   Close           251 non-null    float64
 4   Volume          251 non-null    int64
 5   Dividends       251 non-null    float64
 6   Stock Splits    251 non-null    float64
 7   Date            251 non-null    datetime64[ns, America/New_York]
 8   Dif_open_close  251 non-null    float64
 9   Variation       251 non-null    float64
dtypes: datetime64[ns, America/New_York](1), float64(8), int64(1)
memory usage: 19.7 KB

In [11]:
#searching for nulls
info_1y.isnull().sum()

Open              0
High              0
Low               0
Close             0
Volume            0
Dividends         0
Stock Splits      0
Date              0
Dif_open_close    0
Variation         0
dtype: int64

In [12]:
pip install sqlalchemy-redshift

Requirement already satisfied: sqlalchemy-redshift in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (0.8.14)
Requirement already satisfied: SQLAlchemy<2.0.0,>=0.9.2 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from sqlalchemy-redshift) (1.4.48)
Requirement already satisfied: packaging in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from sqlalchemy-redshift) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from SQLAlchemy<2.0.0,>=0.9.2->sqlalchemy-redshift) (2.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from packaging->sqlalchemy-redshift) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install redshift_connector

Requirement already satisfied: redshift_connector in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (2.0.911)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (4.12.2)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (1.26.152)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (2.27.1)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (1.29.152)
Requirement already satisfied: setuptools in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (58.0.4)
Requirement already satisfied: packaging in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (21.3)
Requirement already satisfied: lxml>=4.6.5 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: pytz>=2020.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from redshift_connector) (2023.3)
Requirement already satisfied: soupsieve>1.2 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.4.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.8)
Requirement already satisfied: six>=1.5 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.4)
Requirement already satisfied: asn1crypto>=1.5.1 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/antonioyoo/opt/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages (from packaging->redshift_connector) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import redshift_connector

In [15]:
#create connection to redshift
conn = redshift_connector.connect(
    host='aaa',
    database='aaa',
    port=int('aaa'),
    user='aaa',
    password='aaa'
)

In [16]:
cursor = conn.cursor()

In [17]:
#def to execute query into redshift
def redshift_execute(conn,query):
    try:
        cur = conn.cursor()
        cur.execute(query)
        conn.commit()
        cur.close()
    except Exception as err:
        print (err)

In [18]:
#Rollback to roll back the prev. query
redshift_execute(conn, "ROLLBACK;")

In [19]:
# query to create table called entregable1 in schema asy_antonioyoo_coderhouse
query = f"""CREATE TABLE asy_antonioyoo_coderhouse.entregable1 (Open decimal(10,6), High decimal(10,6), Low decimal(10,6), Close decimal(10,6), volume Integer, Dividends decimal(10,6), Stock_splits decimal(10,6), date timestamp)"""
redshift_execute(conn,query)

{'S': 'ERROR', 'C': '42601', 'M': 'syntax error at or near "Open"', 'P': '53', 'F': '/home/ec2-user/padb/src/pg/src/backend/parser/parser_scan.l', 'L': '732', 'R': 'yyerror'}

In [20]:
#Alter table to add two more columns created before
query = f"""
    ALTER TABLE asy_antonioyoo_coderhouse.entregable1
    ADD COLUMN Dif_open_close decimal(10,6)
"""
redshift_execute(conn,query)

{'S': 'ERROR', 'C': '25P02', 'M': 'current transaction is aborted, commands ignored until end of transaction block', 'F': '../src/pg/src/backend/tcop/postgres.c', 'L': '3938', 'R': 'exec_parse_message'}

In [21]:
query = f"""
    ALTER TABLE asy_antonioyoo_coderhouse.entregable1
    ADD COLUMN Variation decimal(10,6)
"""
redshift_execute(conn,query)

{'S': 'ERROR', 'C': '25P02', 'M': 'current transaction is aborted, commands ignored until end of transaction block', 'F': '../src/pg/src/backend/tcop/postgres.c', 'L': '3938', 'R': 'exec_parse_message'}

In [22]:
import psycopg2

In [23]:
from sqlalchemy import create_engine

In [24]:
# Establish a connection to your Redshift using SQLAlchemy
db_url = 'theURL'

In [25]:
engine = create_engine(db_url)

In [26]:
info_1y

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,Dif_open_close,Variation
0,242.763410,246.635981,239.217682,239.940689,46135800,0.0,0.0,2022-06-13 00:00:00-04:00,2.822721,7.418299
1,241.525364,243.387371,239.197856,242.149338,28651500,0.0,0.0,2022-06-14 00:00:00-04:00,-0.623973,4.189514
2,245.932764,252.855849,244.060858,249.349731,33111700,0.0,0.0,2022-06-15 00:00:00-04:00,-3.416968,8.794991
3,243.625050,245.051267,240.693397,242.624725,33169200,0.0,0.0,2022-06-16 00:00:00-04:00,1.000325,4.357870
4,242.357313,248.101789,241.693730,245.279068,43084800,0.0,0.0,2022-06-17 00:00:00-04:00,-2.921755,6.408059
...,...,...,...,...,...,...,...,...,...,...
246,335.329987,335.369995,332.170013,333.679993,20396200,0.0,0.0,2023-06-06 00:00:00-04:00,1.649994,3.199982
247,331.649994,334.489990,322.500000,323.380005,40717100,0.0,0.0,2023-06-07 00:00:00-04:00,8.269989,11.989990
248,323.940002,326.640015,323.350006,325.260010,23277700,0.0,0.0,2023-06-08 00:00:00-04:00,-1.320007,3.290009
249,324.989990,329.989990,324.410004,326.790009,22514900,0.0,0.0,2023-06-09 00:00:00-04:00,-1.800018,5.579987
250,328.579987,332.100006,325.160004,331.850006,24260300,0.0,0.0,2023-06-12 00:00:00-04:00,-3.270020,6.940002

In [27]:
table_name = 'entregable1'
schema_name = 'asy_antonioyoo_coderhouse'
full_table_name = f'{schema_name}.{table_name}'
info_1y.to_sql(table_name, con=engine, schema=schema_name, if_exists='append', index=False)

251